/* Copyright 2010 Timothy White */

body {
    line-height: 1.5;
    color: black
    background-color: white;
/*    font-size: 75%;*/
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.cutout_ticket {
	outline: solid 1px black;
	margin: 1%;
	width: 30%;
	float: left;
    text-align: left;	



}

.ticket_item_label {
    padding-left: 1em;
    width: 40%;
    display: block;
    float: left;
}

.info_username, .info_password {
/*    font-family: courier, serif;*/
    font-weight: bold;
}

#generated, #userslist {
    display: none;
}
