DONORS
files/usr/share/grase/www/*/templates_c/
files/usr/share/grase/vendor/
files/usr/share/grase/www/vendor/

# Symfony 4
/files/usr/share/grase/symfony4/.env
/files/usr/share/grase/symfony4/public/bundles/
/files/usr/share/grase/symfony4/var/
/files/usr/share/grase/symfony4/vendor/
/files/usr/share/grase/symfony4/.web-server-pid
/files/usr/share/grase/symfony4/db_initial/

# Cache and logs (Symfony3)
/files/usr/share/grase/symfony/var/cache/*
/files/usr/share/grase/symfony/var/logs/*
/files/usr/share/grase/symfony/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/files/usr/share/grase/symfony/app/config/parameters.yml
/files/usr/share/grase/symfony/app/config/parameters.ini

# Managed by Composer
/files/usr/share/grase/symfony/app/bootstrap.php.cache
/files/usr/share/grase/symfony/var/bootstrap.php.cache
/files/usr/share/grase/symfony/bin/*
!files/usr/share/grase/symfony/bin/console
!files/usr/share/grase/symfony/bin/symfony_requirements
/files/usr/share/grase/symfony/vendor/

# Assets and user uploads
/files/usr/share/grase/symfony/web/bundles/
/files/usr/share/grase/symfony/web/uploads/

# PHPUnit
/files/usr/share/grase/symfony/app/phpunit.xml
/files/usr/share/grase/symfony/phpunit.xml

# Build data
/files/usr/share/grase/symfony/build/

# Composer PHAR
/files/usr/share/grase/symfony/composer.phar

# Backup files
*~
