/* Copyright 2008 Timothy White */

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
img, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

body {
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	color: #0a57a9;
/*	background: white url("/grase/images/grass.png") fixed bottom repeat-x; /* Not our image */
    background: white;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	text-align: center;
}

#page {
	width: 70%;
	margin: auto;
	margin-top: 3em;
	border: 1px solid blue;
	padding: 1em;
	background: white;
        background: url("/grase/images/logo.png") right top no-repeat;
	text-align: left;
}

a {
	color: green;
}

#loginlink {
	text-align: center;
	display: block;
	float: none !important;
}

#loginlink a {
	text-align: center;
	font-weight: bolder;
	background: #0a57a9;
	text-decoration: none;
	color: white;
	font-size: 150%;
	border: 1px solid orange;
	padding: 0.5em;
	margin: auto;
	width: auto;
}

/*#logoutlink {
	display: block;
	text-align: center;
	font-weight: bolder;
	background: #0a57a9;
	text-decoration: none;
	color: white;
	font-size: 150%;
	border: 1px solid orange;
	padding: 0.5em;
	width: 8em;
}*/

#logonMessage {
	font-size:70%;
	padding-top:4px;
}

/*#signUp, #signUpRow {
	display: none;
}*/

/*#sessionTimeoutRow {
	display: none;
}*/

#return {
	margin-bottom: 0;
	color: green;
	text-align: center;
	clear: right;
}

#origurl {
	text-align: right;
	font-size: 80%;
	float: right;
}

#copyright, #generated {
	font-size: 70%;
}

.clear_both {
	clear: both;
}

/* UAM */

#loggedinusername {
	font-size: 80%;
	text-align: left;	
}

#statustable {
	text-align: left;
}

.chilliLabel {
	color: green;
	text-align: left;
	font-style: normal;
}

.chilliValue {
	text-align: left;
}

/**** CHILLI JSON stuff */

.chilliLabelhide {
	display:none;
}

#location_name {
	margin-top: 1px;
	padding-top: 1px;
}

#statusPage {
	padding-left: 1em;
	margin-left: 1em;
}

/**** END CHILLI STUFF */

/* END UAM*/



/* INPUTs */
/*
.form_or {
    float: left;
    padding-right: 0.5em;
}

input, select, button {
    display:block;
    float:left;
    margin-bottom: 5px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;

    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    margin-right: 5px;

}
*/
/*input:disabled, select:disabled, button:disabled, button:disabled:hover {
    background-color: lightgray;
	color: white;
}*/


/* BUTTONS */

.buttons ul, .buttons li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.buttons a, .buttons button, .buttons h2{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img, button img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover, #helpbox:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active, #helpbox:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* Headings */

.buttons h2 {
    font-size:140%;
    margin-top: 1em;
}

/***** END BUTTONS ******/



