# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    sha1salted_encoder:
        class: Grase\RadminBundle\Service\Sha1Salted

    twig_extension_numbers:
            class: Twig_Extensions_Extension_Number
            public: false
            tags:
                - { name: twig.extension }
