{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}Advanced Settings{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block javascripts_inline %}
<script>
    function render_link(data, type, row, meta) {
        return '<a href="'+ Routing.generate("grase_settings_advanced_edit", {setting: data }) +'">'+data+'</a>';
    }

    function pageJs($) {

        $('#advancedSettings').DataTable(
            {
                //retrieve: true,
                destroy: true,
                "columnDefs": [{
                    "render": render_link,
                    "targets": 0
                }]
            }
        );
    }
</script>
{% endblock %}

{% block content %}

    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{% trans %}Advanced Settings{% endtrans %}</h3>
            </div>
            <div class="card-body">
                {% trans %}grase.advancedSettings.warning.long{% endtrans %}
                <div class="alert-danger alert">
                    <strong>{% trans %}grase.advancedSettings.warning.caution{% endtrans %}</strong><br/>
                </div>

                <table id="advancedSettings" class="table table-bordered table-hover dataTable"
                       data-paging="true" data-page-length="10" data-searching="true"
                       data-ordering="true" data-info="true" data-autowidth="true"
                       data-ajax='{"url": "{{ path('api_settings_get_collection', {'pagination': false}) }}", "dataSrc": ""}'
                       data-columns='[ {"data": "name"}, {"data": "value"} ]'

                >
                    <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Value{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
