{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}Advanced Settings{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block content %}

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans %}Advanced Settings{% endtrans %}</h3>
            </div>
            <div class="box-body">
                {% trans %}All settings in the Radmin Settings table are shown here. Modifying settings here isn't recommended as no validation is done. This page allows you to see and modify hidden settings. Some settings may reset back to defaults if you try to set them to an incorrect value, others will just break.{% endtrans %}<br/>
                <strong>{% trans %}CAUTION: Some settings here are internal and modifying them will break things{% endtrans %}</strong>

                <table id="advancedSettings" class="table table-bordered table-hover dataTable"
                       data-paging="true" data-page-length="10" data-searching="true"
                       data-ordering="true" data-info="true" data-autowidth="true"
                       data-ajax='{"url": "{{ path('api_settings_get_collection', {'pagination': false}) }}", "dataSrc": ""}'
                       data-columns='[ {"data": "name"}, {"data": "value"} ]'
                >
                    <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Value{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
