{% extends "layout.html.twig" %}

{% block page_title %}
    {% trans %}grase.advancedSettings.edit.title{% endtrans %}
{% endblock page_title %}

{% block page_subtitle %}

{% endblock page_subtitle %}

{% block content %}

    <div class="col-xs-12">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">{% trans %}grase.advancedSettings.edit.title{% endtrans %}</h3>
            </div>
            <div class="card-body">
                <div class="alert-danger alert">
                    <strong>{% trans %}grase.advancedSettings.warning.caution{% endtrans %}</strong><br/>
                    {% trans %}grase.advancedSettings.warning{% endtrans %}

                </div>
                <div class="form-row">
                    <div class="col-xs-12 col-lg-6">
                        {{ form(settingForm) }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
