{% extends 'base.html.twig' %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/grase/css/demo.css') }}" />
{% endblock %}

{% block title 'Grase' %}

{% block page_content %}
    {% block flash_messages %}
        {% if app.request.hasPreviousSession %}
            <div class="row">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} fade in col-xs-offset-1 col-xs-10" role="alert">
                            <button class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i>
                            </button>
                            {% if type == 'success' %}<i class="fa fa-check"></i>
                            {% else %}
                            <i class="fa fa-exclamation-triangle"></i>
                            {% endif %}
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block content_header %}
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
