{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/grase/css/demo.css') }}" />
{% endblock %}

{% block title 'Grase' %}

{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
