<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <config name="ignore_warnings_on_exit" value="1"/>


    <rule ref="Symfony">
        <exclude name="Symfony.Commenting.License.Warning"/>
    </rule>
    <rule ref="PSR12"/>

    <exclude-pattern>src/Kernel.php</exclude-pattern>
    <exclude-pattern>config/bundles.php</exclude-pattern>
    <exclude-pattern>config/bootstrap.php</exclude-pattern>
    <exclude-pattern>public/index.php</exclude-pattern>

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <!--<file>tests/</file>-->
    <rule ref="Squiz.Strings.ConcatenationSpacing">
        <properties>
            <property name="spacing" value="1" />
        </properties>
    </rule>



</ruleset>
