/* $Revision: 59 $
 * $Version: 3.1 $
 * $ApplicationName: GRASE $
*/

/* Copyright 2008 Timothy White */

body table {
	text-align: left;
}

#logo {
	background: url('../images/grase.png') bottom left no-repeat;	
	position: fixed;
	bottom: 0;
	left: 30px;
	height: 240px;
	width: 160px;
z-index: -1;
}

/*input, select {
	border: 1px solid orange;
	margin-right: 4px;
}*/

/*#menubar {
	color: blue;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0;
	margin: 0;
	height: 2.5em;
}*/

#sidebar {
	width: 12em;
	float: left;/*
	margin: 1em;*/
	height: 100%;
/*	position: absolute;*/

}

#menucontainer {
    width: 10em;
}

#sidebartoggle {
    margin-top: 2em;
    height: 316px;
    width: 16px;
    text-align: center;
    padding-top: 1em;
    float: right;
    font-size: 75%;
	cursor: pointer;
}

#sidebartoggletext {

    display: block;

    margin-top: 50px;
    background: url('/grase/radmin/images/hide.png') center no-repeat;
    
    width: 12px;
    height: 100px;


/*        height: 16px;
    left: 0px;    
    padding: 0;
    

    

    
    */

}



#sidebartogglebutton {
    margin-top: 20px;
}

#sidebartogglebutton2 {
    margin-top: 100px;
}


#pagecontent {
    margin: 1em;
    margin-left: 13em;
    width: auto;
}

#menubar {
/*	background: white;*/
/*	padding-bottom: 240px;*/
}

/*#menubar .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color: black;
}*/

.expand, .collapse {
    float: right;
    width: 1em;
    display: none;
/*    position: relative;
    top: 1.5em;
    left: 10em;
    line-height: 0 !important;
    height: 0;
    border: solid 1px black;*/
}

.menu ul {
	list-style: none;
/*	text-align: center;*/
/*	padding: 0;*/
/*	margin: 0.7em;*/
	margin: 0;


}

#menubar a {
/*	display: inline;*/
/*	clear: left;*/
    text-decoration: none;
    padding: 2px;
    float: none;
}

#menubar li {
    cursor: pointer;
/*    margin: 2px;*/
    padding: 0; 
/*    padding-left: 2px;*/
    display: block;
}

#menucontainer > ul > li {
/*    margin-bottom: 5px;*/
    width: 11em;
/*    border-top: dashed 1px black;*/
    padding-top: 5px;

}

#menucontainer > ul > li > ul {
    margin-bottom: 0.5em;
}

#menubar ul {
/*    clear: left;
    float: left;*/
    list-style: none outside none;
    padding: 0;
    position: relative;

}

#menucontainer > ul > li > ul > li > a {

}

#menubar a {
	font-family: "Lucida Sans", Arial, Helvetica, Geneva, sans-serif;  /* sets the font of the menu */
/*	display: inline;  /* makes the menu items float beside each other */
/*	margin: 0px 5px 0px 5px;  /* leaves 10px of space between the items */
/*	font-weight: bolder;  /* makes the font bold */
/*	background-color: lightblue;  
	padding: 5px;   /* adds some space around the words */
/*	border: 1px solid #000000;   /* makes the border black */

    display: block;
	width: 10em;
	margin: 0;
	padding-left: 1em;
	

	
}

#menucontainer li .topmenu {
    font-style: italic;
}


#menubar .activemenuitem {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

#helplink a{
/*	float: right;*/
/*	position: relative;
	top: -4em;*/
	margin-top: 1em;
}

.helpbutton {
    cursor:pointer;
}



/*
#menubar #menuitems li {
	display: inline;
	padding: 0.5em;
	border: 1px solid #0a57a9;
	margin: 0;
	margin-right: 1em;
}*/

#radminPage {
/*	width: 70%;*/
	width: auto;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 2em;
	margin-right: 0;
	margin-left: 13em;
/*	border: 1px solid orange;*/
	padding: 1em;
}

#loggedinusername {
	color: gray;
	padding: 0.5em;
	padding-right: 1em;
	display: block;
	text-align: left;
/*	float:right;*/
}

/* Status Monitor (Sold Data bars) */

#StatusMonitors {
/*	width: 100%;
	color: white;*/
	text-align: left;
	float: left;
	position: relative;
	left: 50%;	
	clear: both;
}

#MonitorBars {
	position: relative;
	left:-50%;
}

.DataBarsNew {
	display: block;
/*	width: 30%;
	margin: auto;*/
	float:left;position:relative;
	text-align: center;
/*	border: solid;*/
	padding: 0 1em;
}

.DataBars {
/*	clear: both;*/
	background-color: #0a57a9;
	display: block;
	float:right;
	width: 200px;
	font-size:80%;
	text-align: center;
	margin: 1em;
}

#TotalSellableData {
	text-align: center;
}

#SoldDataBar {
	background-color: orange;
	text-align: center;
	font-size: 80%;
	float: left;
}

#SellableDataOctets {
	background-color: yellow;
	color: black;
}

#SoldData {
/*	position: relative;*/
}

#DataUsageBar {
	background-color: red;
	text-align: center;
	font-size: 80%;
	float: left;
}
#DataRemaining {
	background-color: green;
}

#LastM_DataUsageBar {
	background-color: red;
	text-align: center;
	font-size: 80%;
	float: left;
}
#LastM_DataRemaining {
	background-color: green;
}

/* END Status Monitor bars */

.errorPage {
	color: red;
	border: red solid 1px;
	padding: 1em;
}

/* Table */

table  {
    table-layout:fixed;
    width:100%;
    word-wrap:break-word;
}


table td, table th {
	text-align: left;
	padding: 0.3em;
	line-height: 1.5;
}

table th {
.	text-align: center;
	padding: 0.1em 0.5em;
	font-size: 120%;
	font-weight: bolder;	
	background: #deedf7;	
}	

table td.title {
	padding-left: 2em;
	padding-right: 1em;
}	

th.header { 
    background-image: url(/grase/images/bg.gif); 
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    font-weight: bold; 
    padding-right: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

th.headerSortDown { 
    background-image: url(/grase/images/desc.gif); 
    background-color: #3399FF; 
} 

th.headerSortUp { 
    background-image: url(/grase/images/asc.gif); 
    background-color: #3399FF; 
} 

#userslist table {
    font-size: 80%;
}

#sessionslistTable {
	font-size: 80%;
}

#AdminlogTable {
/*    font-size: 80%;*/
}

/* */


/* Log view page */

#logtables table {
	padding-bottom: 1em;
}

.domainattributesRow, .logattributesRow {
	font-weight: bolder;
	text-align: center;
	background: #999999;
	font-size: 120%;

}

/* */

.sessionrow td {
	padding: 2px 10px;
}

.month_user_row td {
	padding: 2px 10px;

}

.month_user_row .numbers, .totalrow .numbers {
	text-align: right;
}

.totalrow td {
	font-weight: bolder;
}



.tabcontent {
    padding: 5px !important; /* Override jQuery UI CSS */
}

/*#userslistTable {
	font-size: 90%;
	margin: auto;
}*/

.userslistTable .userrow td {
	padding: 0.2em 0.6em;
}

.monthheader {
	font-weight: bolder;
	background: lightblue;
	background-image: url('images/minus.gif');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}

/*.switcher {
	padding-left: 15px;
}*/

.even {
	background: #deedf7;

}
.odd {

}

/*.normal, .normal a {
	color: green;
}*/

.expired /*, .expired a*/ {
	background: orange;
	color: black;
}
.expired a {
	color: black;
}

.expired .info_expiry {
	background: red;
	color: yellow;
	font-weight: bolder;
}

.locked .info_datausage a, .locked .info_datalimit, .locked .info_timeusage a /*, .locked a */{
	color: red;
	font-weight: bolder;

}

.info_password span {
	float: right;
	display: inline;
}
/*.lowdata, .lowdata a {
	color: red;

}*/
#Machine_body tr, #Machine_body tr a {
	color: gray;
}

#Nogroup_body tr {
	background: pink;
	color: black;
}

.nogroup .even {
/*	background: purple;*/
	color: black;
}

/* HIGHT LIGHT TABLE ROWS */

/*.userslistTable tr:hover {
	background-color: yellow;
}*/

/* DONE */

h1 {
	margin: 0.2em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

body {
	color: #0a57a9;
	background: white;
	margin-top: 0;
	padding: 1em;
	padding-top: 0;
}

ul {
	text-align: left;
}

ul#statusmon {
	text-align: left;
}

ul#statusmon li {
/*	display: block;*/
	width: 30%;
	margin-right: 1em;
	margin-bottom: 0.5em;
	padding: 0.2em;
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 0;
	float: left;
	border: 1px solid #0a57a9;
	 list-style-position: inside;
	 
	 
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
/*    font-size:130%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;*/
/*    color:#565656;*/
/*    cursor:pointer;
    margin-right: 5px;
    z-index: 300;*/
    height: 3em;


}

.running {
	color: green;
    color:#565656;
	list-style-type: circle;
	list-style-image: url(images/green.gif);
}
.stopped {
	color: red;
	list-style-type: square;
	list-style-image: url(images/red.gif);
}
.nomon {
	color: blue;
	list-style-image: url(images/blue.gif);
}
.warn {
	color: orange;
}

.time {
	color: black;
	font-size: 80%;
}

/* Forms extra stuff */

.datacost_list, .timecost_list {
    padding: 0;
    list-style: none;
    display:block;
    float:right;
    margin-bottom: 5px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;

    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    margin-right: 5px;

}

.datacost_item, .timecost_item {
    display: block;
    color:#565656;
    padding-left: 0.5em;
    padding-right: 1em;
    width: 11em;
    
}

.datacost_item:hover, .timecost_item:hover {
    background-color:#dff4ff;
    color:#336699;
}
/* end forms extra stuff */

/* Cutout tickets stuff */
.cutout_ticket {
	outline: solid 1px black;
	margin-top: 1.5em;



}

/* End Cutout Tickets stuff */

/******* FORM *******/
.generalForm{
	padding: 0 10px 10px;
	margin: 0px auto;
	text-align: left;
	line-height: 1.4em;	
}
.generalForm label{
	display: block;
/*	color: #797979;*/
    color: black;
	font-weight: 700;
	line-height: 1.4em;
	clear: right;
}
.generalForm input, .generalForm select{
	width: 220px;
	padding: 6px;
/*	color: #949494;*/
    color: black;

	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
.generalForm input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
.generalForm textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
.generalForm textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}
.generalForm div{
	margin-bottom: 15px;
}
.generalForm div span {
	margin-left: 10px;
/*	color: #b1b1b1;*/
	font-size: 11px;

	font-style: italic;
}
.generalForm div span.error{
	color: #e46c6e;
}
.generalForm #send{
	background: #6f9ff1;
	color: #000;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}

.generalForm #send:hover{
	background: #79a7f1;
}
#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}

.messagewidget {
    min-width: 15em;
    width: 50%;
    margin: auto;
}
/******* /FORM *******/

.ui-icon {
    display: inline-block !important; /* Override jQuery UI of display: block */
}
